In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LogisticRegression

In [2]:
train=pd.read_csv("./Input/clean_train.csv")
pred=pd.read_csv("./Input/clean_pred.csv")

In [5]:
train.head()

   id  carat  cut  color  clarity  depth  table     x     y     z  price
0   0   0.50    1      0        4   62.3   55.0  5.11  5.07  3.17   1845
1   1   1.54    3      5        3   63.6   60.0  7.30  7.33  4.65  10164
2   2   1.32    1      6        6   61.7   60.0  6.95  7.01  4.31   5513
3   3   1.20    1      5        5   62.1   55.0  6.83  6.79  4.23   5174
4   4   1.73    0      5        5   61.2   60.0  7.67  7.65  4.69  10957

In [6]:
pred.head()

   id  carat  cut  color  clarity  depth  table     x     y     z
0   0   0.45    0      1        5   62.8   58.0  4.88  4.84  3.05
1   1   1.23    1      4        5   61.0   56.0  6.96  6.92  4.23
2   2   0.33    1      5        0   61.8   55.0  4.46  4.47  2.76
3   3   0.51    0      0        4   58.0   60.0  5.29  5.26  3.06
4   4   0.40    0      1        4   62.2   59.0  4.71  4.74  2.94

In [8]:
train_clean = train[['carat','cut','color','clarity','depth','table', 'x', 'y' , 'z']]
train_clean.head()

   carat  cut  color  clarity  depth  table     x     y     z
0   0.50    1      0        4   62.3   55.0  5.11  5.07  3.17
1   1.54    3      5        3   63.6   60.0  7.30  7.33  4.65
2   1.32    1      6        6   61.7   60.0  6.95  7.01  4.31
3   1.20    1      5        5   62.1   55.0  6.83  6.79  4.23
4   1.73    0      5        5   61.2   60.0  7.67  7.65  4.69

In [9]:
y_train= train.price
X_train=train_clean
X_test=pred[['carat','cut','color','clarity','depth','table', 'x', 'y' , 'z']]

In [15]:
model= RandomForestRegressor(n_estimators=50,max_depth=10,min_samples_split=15,min_samples_leaf=20, )
model=model2.fit(X_train,y_train)

In [16]:
y_pred= model.predict(X_test)
pred["price"]=y_pred

predict=pred[["id","price"]]

In [17]:
predict.head()

   id        price
0   0   890.976834
1   1  6576.103596
2   2   712.330697
3   3  1891.560655
4   4   946.098256

In [18]:
predict.to_csv(r'prediction.csv',index=False,header=True)